<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".presentation.ui.FitHub"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitHub_Android"
        tools:targetApi="31">

        <activity android:name=".presentation.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.findpassword.FindPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao${kakao_native_key}" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.onboarding.OnBoardingActivity"
            android:exported="false" />

        <activity android:name=".presentation.ui.write.certificate.WriteOrModifyCertificateActivity"
            android:exported="true" />

        <activity android:name=".presentation.ui.detail.certificate.ExerciseCertificateDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity android:name=".presentation.ui.detail.board.BoardDetailActivity"
            android:exported="false" />
        <activity android:name=".presentation.ui.write.board.WriteOrModifyBoardActivity"
            android:exported="false" />
        <activity android:name=".presentation.ui.gallery.view.CustomGalleryActivity"
            android:exported="false" />
        <activity android:name=".presentation.ui.search.community.SearchActivity"
            android:exported="false" />


        <!-- SIGN IN -->
        <activity android:name=".presentation.ui.sign.in.social.SocialSignInActivity"
            android:exported="false" />
        <activity android:name=".presentation.ui.sign.in.number.NumberSignInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- SIGN UP -->
        <activity android:name=".presentation.ui.sign.up.social.SocialSignUpActivity"
            android:exported="false" />
        <activity android:name=".presentation.ui.sign.up.number.NumberSignUpActivity"
            android:exported="false" />
        <activity android:name=".presentation.ui.sign.result.SignUpResultActivity"
            android:exported="false" />

        <!-- BookMark -->
        <activity android:name=".presentation.ui.bookmark.BookMarkActivity"
            android:exported="false" />

        <!-- My Level -->
        <activity android:name=".presentation.ui.mylevel.MyLevelActivity"
            android:exported="false" />

        <!-- Change Exercise -->
        <activity android:name=".presentation.ui.changeexercise.ChangeExerciseActivity"
            android:exported="false"/>

        <!-- Alarm -->
        <activity android:name=".presentation.ui.alarm.AlarmActivity"
            android:exported="false" />

        <!-- Manage My Write -->
        <activity android:name=".presentation.ui.managewrite.ManageMyWriteActivity"
            android:exported="false" />

        <!-- Manage My Info -->
        <activity android:name=".presentation.ui.manageinfo.ManageMyInfoActivity"
            android:exported="false" />

        <!-- OtherUserProfile -->
        <activity android:name=".presentation.ui.otheruser.OtherUserProfileActivity"
            android:exported="false" />

        <!-- Alarm Setting -->
        <activity android:name=".presentation.ui.alarm_setting.AlarmSettingActivity"
            android:exported="false" />

        <!-- Change Password -->
        <activity android:name=".presentation.ui.change_password.ChangePasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- Terms -->
        <activity android:name=".presentation.ui.terms.terms.TermsActivity"
            android:exported="false" />
        <activity android:name=".presentation.ui.terms.detail.TermsDetailActivity"
            android:exported="false"
            android:hardwareAccelerated="true"/>

        <!-- Push Alarm -->
        <service
            android:name=".data.remote.fcm.FirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:value="@drawable/ic_logo" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/neon_primary" />
        </service>

        <meta-data
            android:name="FITHUB_CHANNEL_NAME"
            android:value="핏허브 알림" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${kakao_native_key}"/>

    </application>

</manifest>